
BEGIN:VEVENT
SUMMARY:Gelber Sack (alle Ortsteile)
DTSTART;VALUE=DATE:20140109
DTEND;VALUE=DATE:20140110
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20140123
DTEND;VALUE=DATE:20140124
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20140206
DTEND;VALUE=DATE:20140207
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20140220
DTEND;VALUE=DATE:20140221
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20140306
DTEND;VALUE=DATE:20140307
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20140320
DTEND;VALUE=DATE:20140321
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20140403
DTEND;VALUE=DATE:20140404
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20140416
DTEND;VALUE=DATE:20140417
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20140502
DTEND;VALUE=DATE:20140503
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20140515
DTEND;VALUE=DATE:20140516
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20140530
DTEND;VALUE=DATE:20140531
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20140613
DTEND;VALUE=DATE:20140614
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20140626
DTEND;VALUE=DATE:20140627
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20140710
DTEND;VALUE=DATE:20140711
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20140724
DTEND;VALUE=DATE:20140725
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20140807
DTEND;VALUE=DATE:20140808
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20140821
DTEND;VALUE=DATE:20140822
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20140904
DTEND;VALUE=DATE:20140905
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20140918
DTEND;VALUE=DATE:20140919
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20141002
DTEND;VALUE=DATE:20141003
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20141016
DTEND;VALUE=DATE:20141017
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20141030
DTEND;VALUE=DATE:20141031
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20141113
DTEND;VALUE=DATE:20141114
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20141127
DTEND;VALUE=DATE:20141128
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20141211
DTEND;VALUE=DATE:20141212
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Gelber Sack (Alle Ortsteile)
DTSTART;VALUE=DATE:20141224
DTEND;VALUE=DATE:20141225
DESCRIPTION:gelber_sack
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Grünschnitt (Alle Ortsteile)
DTSTART;VALUE=DATE:20140329
DTEND;VALUE=DATE:20140330
DESCRIPTION:Grünschnitt
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Grünschnitt (Alle Ortsteile)
DTSTART;VALUE=DATE:20140412
DTEND;VALUE=DATE:20140413
DESCRIPTION:Grünschnitt
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Grünschnitt (Alle Ortsteile)
DTSTART;VALUE=DATE:20140426
DTEND;VALUE=DATE:20140427
DESCRIPTION:Grünschnitt
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Grünschnitt (Alle Ortsteile)
DTSTART;VALUE=DATE:20140510
DTEND;VALUE=DATE:20140511
DESCRIPTION:Grünschnitt
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Grünschnitt (Alle Ortsteile)
DTSTART;VALUE=DATE:20140524
DTEND;VALUE=DATE:20140525
DESCRIPTION:Grünschnitt
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Grünschnitt (Alle Ortsteile)
DTSTART;VALUE=DATE:20140607
DTEND;VALUE=DATE:20140608
DESCRIPTION:Grünschnitt
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Grünschnitt (Alle Ortsteile)
DTSTART;VALUE=DATE:20140621
DTEND;VALUE=DATE:20140622
DESCRIPTION:Grünschnitt
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Grünschnitt (Alle Ortsteile)
DTSTART;VALUE=DATE:20140705
DTEND;VALUE=DATE:20140706
DESCRIPTION:Grünschnitt
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Grünschnitt (Alle Ortsteile)
DTSTART;VALUE=DATE:20140719
DTEND;VALUE=DATE:20140720
DESCRIPTION:Grünschnitt
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Grünschnitt (Alle Ortsteile)
DTSTART;VALUE=DATE:20140802
DTEND;VALUE=DATE:20140803
DESCRIPTION:Grünschnitt
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Grünschnitt (Alle Ortsteile)
DTSTART;VALUE=DATE:20140813
DTEND;VALUE=DATE:20140814
DESCRIPTION:Grünschnitt
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Grünschnitt (Alle Ortsteile)
DTSTART;VALUE=DATE:20140827
DTEND;VALUE=DATE:20140828
DESCRIPTION:Grünschnitt
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Grünschnitt (Alle Ortsteile)
DTSTART;VALUE=DATE:20140913
DTEND;VALUE=DATE:20140914
DESCRIPTION:Grünschnitt
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Grünschnitt (Alle Ortsteile)
DTSTART;VALUE=DATE:20140927
DTEND;VALUE=DATE:20140928
DESCRIPTION:Grünschnitt
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Grünschnitt (Alle Ortsteile)
DTSTART;VALUE=DATE:20141011
DTEND;VALUE=DATE:20141012
DESCRIPTION:Grünschnitt
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Grünschnitt (Alle Ortsteile)
DTSTART;VALUE=DATE:20141025
DTEND;VALUE=DATE:20141026
DESCRIPTION:Grünschnitt
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Grünschnitt (letztes Mal im Jahr) (Alle Ortsteile)
DTSTART;VALUE=DATE:20141108
DTEND;VALUE=DATE:20141109
DESCRIPTION:Grünschnitt
TRANSP:TRANSPARENT
END:VEVENT



BEGIN:VEVENT
SUMMARY:Schadstoffmobil (Glashütten)
DTSTART;TZID=Europe/Berlin:20140301T103000
DTEND;TZID=Europe/Berlin:20140301T114500
DESCRIPTION:schadstoff
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Schadstoffmobil (Schloßborn)
DTSTART;TZID=Europe/Berlin:20140313T090000
DTEND;TZID=Europe/Berlin:20140313T100000
DESCRIPTION:schadstoff
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Schadstoffmobil (Oberems)
DTSTART;TZID=Europe/Berlin:20140313T104500
DTEND;TZID=Europe/Berlin:20140313T114500
DESCRIPTION:schadstoff
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Schadstoffmobil (Glashütten)
DTSTART;TZID=Europe/Berlin:20140524T131500
DTEND;TZID=Europe/Berlin:20140524T143000
DESCRIPTION:schadstoff
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Schadstoffmobil (Schloßborn)
DTSTART;TZID=Europe/Berlin:20140612T111500
DTEND;TZID=Europe/Berlin:20140612T121500
DESCRIPTION:schadstoff
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Schadstoffmobil (Oberems)
DTSTART;TZID=Europe/Berlin:20140612T130000
DTEND;TZID=Europe/Berlin:20140612T140000
DESCRIPTION:schadstoff
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Schadstoffmobil (Glashütten)
DTSTART;TZID=Europe/Berlin:20140830T103000
DTEND;TZID=Europe/Berlin:20140830T114500
DESCRIPTION:schadstoff
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Schadstoffmobil (Schloßborn)
DTSTART;TZID=Europe/Berlin:20140911T090000
DTEND;TZID=Europe/Berlin:20140911T100000
DESCRIPTION:schadstoff
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Schadstoffmobil (Oberems)
DTSTART;TZID=Europe/Berlin:20140911T104500
DTEND;TZID=Europe/Berlin:20140911T114500
DESCRIPTION:schadstoff
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Schadstoffmobil (Glashütten)
DTSTART;TZID=Europe/Berlin:20141129T103000
DTEND;TZID=Europe/Berlin:20141129T114500
DESCRIPTION:schadstoff
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Schadstoffmobil (Schloßborn)
DTSTART;TZID=Europe/Berlin:20141211T171500
DTEND;TZID=Europe/Berlin:20141211T181500
DESCRIPTION:schadstoff
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Schadstoffmobil (Oberems)
DTSTART;TZID=Europe/Berlin:20141211T153000
DTEND;TZID=Europe/Berlin:20141211T163000
DESCRIPTION:schadstoff
TRANSP:TRANSPARENT
END:VEVENT



BEGIN:VEVENT
SUMMARY:Papiermüll (Schloßborn)
DTSTART;VALUE=DATE:20140122
DTEND;VALUE=DATE:20140123
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Papiermüll (Schloßborn)
DTSTART;VALUE=DATE:20140219
DTEND;VALUE=DATE:20140220
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Papiermüll (Schloßborn)
DTSTART;VALUE=DATE:20140319
DTEND;VALUE=DATE:20140320
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Papiermüll (Schloßborn)
DTSTART;VALUE=DATE:20140416
DTEND;VALUE=DATE:20140417
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Papiermüll (Schloßborn)
DTSTART;VALUE=DATE:20140514
DTEND;VALUE=DATE:20140515
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Papiermüll (Schloßborn)
DTSTART;VALUE=DATE:20140612
DTEND;VALUE=DATE:20140613
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Papiermüll (Schloßborn)
DTSTART;VALUE=DATE:20140709
DTEND;VALUE=DATE:20140710
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Papiermüll (Schloßborn)
DTSTART;VALUE=DATE:20140806
DTEND;VALUE=DATE:20140807
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Papiermüll (Schloßborn)
DTSTART;VALUE=DATE:20141001
DTEND;VALUE=DATE:20141002
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Papiermüll (Schloßborn)
DTSTART;VALUE=DATE:20141029
DTEND;VALUE=DATE:20141030
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Papiermüll (Schloßborn)
DTSTART;VALUE=DATE:20141126
DTEND;VALUE=DATE:20141127
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Papiermüll (Schloßborn)
DTSTART;VALUE=DATE:20141224
DTEND;VALUE=DATE:20141224
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT



BEGIN:VEVENT
SUMMARY:Papiermüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140121
DTEND;VALUE=DATE:20140122
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Papiermüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140218
DTEND;VALUE=DATE:20140219
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Papiermüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140318
DTEND;VALUE=DATE:20140319
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Papiermüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140415
DTEND;VALUE=DATE:20140416
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Papiermüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140513
DTEND;VALUE=DATE:20140514
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Papiermüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140611
DTEND;VALUE=DATE:20140612
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Papiermüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140708
DTEND;VALUE=DATE:20140709
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Papiermüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140805
DTEND;VALUE=DATE:20140806
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Papiermüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140902
DTEND;VALUE=DATE:20140903
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Papiermüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140930
DTEND;VALUE=DATE:20141001
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Papiermüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20141028
DTEND;VALUE=DATE:20141029
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Papiermüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20141125
DTEND;VALUE=DATE:20141126
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Papiermüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20141223
DTEND;VALUE=DATE:20141224
DESCRIPTION:papier
TRANSP:TRANSPARENT
END:VEVENT



BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20140106
DTEND;VALUE=DATE:20140107
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20140120
DTEND;VALUE=DATE:20140121
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20140203
DTEND;VALUE=DATE:20140204
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20140217
DTEND;VALUE=DATE:20140218
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20140303
DTEND;VALUE=DATE:20140304
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20140317
DTEND;VALUE=DATE:20140318
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20140331
DTEND;VALUE=DATE:20140401
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20140414
DTEND;VALUE=DATE:20140415
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20140428
DTEND;VALUE=DATE:20140429
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20140512
DTEND;VALUE=DATE:20140513
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20140526
DTEND;VALUE=DATE:20140527
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20140610
DTEND;VALUE=DATE:20140611
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20140623
DTEND;VALUE=DATE:20140624
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20140707
DTEND;VALUE=DATE:20140708
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20140721
DTEND;VALUE=DATE:20140722
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20140804
DTEND;VALUE=DATE:20140805
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20140818
DTEND;VALUE=DATE:20140819
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20140901
DTEND;VALUE=DATE:20140902
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20140915
DTEND;VALUE=DATE:20140916
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20140929
DTEND;VALUE=DATE:20140930
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20141013
DTEND;VALUE=DATE:20141014
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20141027
DTEND;VALUE=DATE:20141028
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20141110
DTEND;VALUE=DATE:20141111
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20141124
DTEND;VALUE=DATE:20141125
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20141208
DTEND;VALUE=DATE:20141209
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Schloßborn)
DTSTART;VALUE=DATE:20141222
DTEND;VALUE=DATE:20141223
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT



BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140113
DTEND;VALUE=DATE:20140114
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140127
DTEND;VALUE=DATE:20140128
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140210
DTEND;VALUE=DATE:20140211
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140224
DTEND;VALUE=DATE:20140225
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140310
DTEND;VALUE=DATE:20140311
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140324
DTEND;VALUE=DATE:20140325
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140407
DTEND;VALUE=DATE:20140408
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140422
DTEND;VALUE=DATE:20140423
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140505
DTEND;VALUE=DATE:20140506
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140519
DTEND;VALUE=DATE:20140520
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140602
DTEND;VALUE=DATE:20140603
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140616
DTEND;VALUE=DATE:20140617
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140630
DTEND;VALUE=DATE:20140701
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140714
DTEND;VALUE=DATE:20140715
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140728
DTEND;VALUE=DATE:20140729
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140811
DTEND;VALUE=DATE:20140812
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140825
DTEND;VALUE=DATE:20140826
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140908
DTEND;VALUE=DATE:20140909
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20140922
DTEND;VALUE=DATE:20140923
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20141006
DTEND;VALUE=DATE:20141007
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20141020
DTEND;VALUE=DATE:20141021
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20141103
DTEND;VALUE=DATE:20141104
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20141117
DTEND;VALUE=DATE:20141118
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT


BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20141201
DTEND;VALUE=DATE:20141202
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20141215
DTEND;VALUE=DATE:20141216
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

BEGIN:VEVENT
SUMMARY:Hausmüll (Glashütten/Oberems)
DTSTART;VALUE=DATE:20141229
DTEND;VALUE=DATE:20141230
DESCRIPTION:hausmuell
TRANSP:TRANSPARENT
END:VEVENT

